.header__container {
  width: 100%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background: radial-gradient(#fff, #ffd6d6);
}

.navbar__container {
  display: flex;
  align-items: center;
  padding: 20px;
}

.link__container {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.link__container a {
  margin-right: 20px;
  text-decoration: none;
  color: #555555;
}

.cart__icon {
  width: 30px;
  height: 30px;
}
